################################
# Android build outputs
################################
*.apk
*.ap_
*.aab
*.apks
*.dex
*.class

################################
# Gradle
################################
.gradle/
**/.gradle/
build/
**/build/

################################
# AGP generated (QUAN TRỌNG)
################################
**/intermediates/
**/.transforms/
**/generated/
**/outputs/
**/tmp/
**/kotlin/
**/classes/
**/libs/

################################
# Jetpack Compose
################################
**/ComposableSingletons*.class
**/ComposableSingletons*.dex

################################
# Kapt / Hilt
################################
kapt3/
**/build/generated/source/kapt/
**/build/generated/source/kaptKotlin/

################################
# Android specific
################################
local.properties
captures/
.navigation/
*.hprof

################################
# Lint
################################
**/lint-results*.xml
**/lint-results*.html
**/lint-results*.json

################################
# Room
################################
schema/

################################
# NDK / Native
################################
.externalNativeBuild/
.cxx/
obj/

################################
# IDEs
################################
.idea/
*.iml
*.ipr
*.iws
out/

################################
# VS Code
################################
.vscode/

################################
# OS files
################################
# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

################################
# Logs & temp
################################
*.log
*.tmp
*.bak
*.swp
*.orig
*~.nib

################################
# Kotlin
################################
*.kt.swp
*.kt.bak

################################
# Tests & coverage
################################
**/test-results/
**/.coverage
**/coverage/

################################
# Metadata
################################
**/META-INF/*.kotlin_module
**/desugar_graph.bin
/feature/session/build/.transforms
.gitnexus
/.claude/skills/gitnexus/gitnexus-cli/SKILL.md
/.claude/
/internview
KNOWLEDGE_MAP.md
LEVEL_ASSESSMENT.md
*.md
/.tokensave
interview/topics/sessions/2026-07-15-room-database-migration.json
/.cursor
